appdirs==1.4.4
fast-hdbscan==0.2.0
gensim==4.4.0
joblib==1.5.2
llvmlite==0.43.0
lxml==6.0.2
numba==0.60.0
numpy==2.0.2
packaging==25.0
pyshark==0.6
scapy==2.6.1
scikit-learn==1.6.1
scipy==1.13.1
smart_open==7.5.0
termcolor==3.1.0
threadpoolctl==3.6.0
wrapt==2.0.1
